Repository manbearwiz/portico: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, build, package-sync

lint:
  run: npm run lint
  stage_fixed: true

format:
  run: npm run format
  stage_fixed: true

build:
  run: npm run build

package-sync:
  run: npm ls --depth=0 --silent
  fail_text: Package.json and package-lock.json are out of sync. Run 'npm install' to fix.

fix registry
  package-lock.json
Due: lint, format, package-sync

chore: stricter tsconfig
  biome.json
  package-lock.json
  package.json
  tsconfig.json
Due: lint, format, package-sync

chore: update lefthook configuration
  lefthook.yml
  package-lock.json
  package.json
Due: lint, format, package-sync

chore: ts test config
  tsconfig.json
Due: lint, format

chore: biome format
  .vscode/settings.json
  examples/team-config.js
  src/cli.ts
  src/index.test.ts
  src/index.ts
  vite.config.ts
Due: lint, format

chore(npm): more npm registry fixes
  lefthook.yml
  package-lock.json
Due: lint, format, package-sync

build(deps): upgrade to commander@14
  package-lock.json
  package.json
Due: lint, format, package-sync

feat: enhance port generation with hash and reducer options
  README.md
  examples/comprehensive-benchmark/comprehensive-benchmark.cjs
  examples/comprehensive-benchmark/importmaps-lg.json
  examples/comprehensive-benchmark/importmaps-sm.json
  examples/comprehensive-benchmark/importmaps-xl.json
  examples/comprehensive-benchmark/importmaps.json
  examples/package-angular.json
  examples/package-react.json
  examples/team-config.js
  package-lock.json
  package.json
  src/cli.ts
  src/index.test.ts
  src/index.ts
Due: lint, format, package-sync

Notes added by 'git notes add'
  639804b7ff8be087fedd75970cf9c019d40efa3b
Due: none

feat: add collision probability analysis
  README.md
  examples/comprehensive-benchmark/comprehensive-benchmark.cjs
  src/cli.ts
  src/index.test.ts
  src/index.ts
Due: lint, format

Notes added by 'git notes add'
  2dd574533da48401d380bc8f4a05e0d9503dcf6a
Due: none

refactor: streamline hash and reducer tests for better clarity and maintainability
  src/index.test.ts
Due: lint, format

refactor: remove weak hashs; cleanup benchmark
  examples/comprehensive-benchmark/comprehensive-benchmark.cjs
  src/index.test.ts
  src/index.ts
Due: lint, format

fix: set 'generate' command as default in CLI
  src/cli.ts
Due: lint, format

Notes added by 'git notes add'
  26609e7119cc7ac9a4206f65d6c82fe80fb5f140
Due: none

feat: better CLI options with validation and env vars
  src/cli.ts
Due: lint, format

Notes added by 'git notes add'
  4eb55e3e33269c5eb8bac114cc79a39d76e065e0
Due: none

feat: support remote import maps
  src/cli.ts
  src/index.test.ts
  src/index.ts
Due: lint, format

Notes added by 'git notes add'
  5b7434b3851b297b9c29ff0065ed384b35ffe1e7
Due: none

fix: make fs as external
  vite.config.ts
Due: lint, format

Notes added by 'git notes add'
  7810b0dcae902b397983144abe8c482a3360a4c2
Due: none

build(release): add permissions for trusted publishing
  .github/workflows/release.yml
Due: none

build(release): add content write permission for github
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  67f1406338c199f35377093690b2c7264ea29c61
Due: none

build(release): allow semantic-release to write to issues/prs
  .github/workflows/release.yml
Due: none

Path conditions:
  lint: any of: *.{js,ts,json}
  format: any of: *.{js,ts,json}
  build: any of: src/**/*.ts
  package-sync: any of: package*.json
